// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

// Import Compass Clearfix 
@import "compass/utilities/general/clearfix";

// Import PT Sans fonts
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic");

body{
	color: #707070;
	background: #FFF;
	letter-spacing: 1px;
	font-family: 'PT Sans', sans-serif;
	&.booking{
		background: #f1f5f3;
	}
	&.home{
		.container.main{
			padding-top: 30px;
		}
		header#main nav.main{
			background: none;
			position: fixed;
			border-bottom: none;
			top: 0;
			left: 0;
			width: 100%;		
			@media(max-width: $screen-md){
				background: rgba(0,0,0,0.6);
			}
		}
		.toggle .icon span, .toggle .icon span:before, .toggle .icon span:after{
			background: #FFF;
		}
		.toggle .text{
			color: #FFF;
		}
	}
	&.room{
		header#main nav.main{
			display: none;			
			@media(max-width: $screen-md){
				display: block;
				z-index: 300;
			}	
		}		
		#search-bar{			
			@media(max-width: $screen-md){
				padding-top: 80px;
			}
			@media(min-width: $screen-md){
				z-index: 200 !important;
				width: 100% !important;
				display: block;
			}
			.logo, .toggle{
				display: block;				
				@media(min-width: $screen-md){					
					display: block !important;
				}
			}
		}
	}
	&.contact{
		background: url('../images/contact-bg.jpg')no-repeat center center fixed; 
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	  	.border-white{
	  		border: 4px solid #FFF;
	  		margin-top: 60px;
	  		margin-bottom: 60px;
	  	}
	  	.form-field{
	  		h3{
	  			margin-bottom: 20px;
	  			text-align: center;
	  		}
	  		.input-group{
	  			width: 100%;
	  			margin-bottom: 10px;
	  		}
	  		.input-group-addon{
	  			text-align: left;
	  			margin-bottom: 10px;
	  			width: 150px;
	  		}
	  		.btn-book{
	  			display: table;
	  			margin-left: auto;
	  			margin-right: auto;
	  			padding-left: 60px;
	  			padding-right: 60px;
	  			margin-bottom: 20px;
	  		}
	  	}
	}
	&.search{
		background: url('../images/search-bg.jpg')no-repeat center center fixed; 
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
		#search-bar{
			background: none;
			border-top: 1px solid #FFF;
			border-bottom: 1px solid #FFF;
		}
	}
}

ul{
	padding-left: 15px;
}

b{
	color: #464646;
	font-weight: 700;
}

img{
	max-width: 100%;
}

h1,h2,h3,h4,h5{
	color: #464646;
}

.slick-arrow{
	width: 28px;
	height: 28px;	
	z-index: 99;
	&:before{
		content: " " !important;
	}
	&.slick-prev{
		background: url('../images/left-slick.png')no-repeat;
	}
	&.slick-next{
		background: url('../images/right-slick.png')no-repeat;
	}
}

.overflow-hidden{
	overflow: hidden;
}

.is-sticky #search-bar{
	z-index: 200 !important;
	width: 100% !important;
	display: block;
}

.center{
	display: table;
	margin-left: auto;
	margin-right: auto;
}

ul.center-menu{
	padding-left: 0px;
	margin-bottom: 0px;
	display: table;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	li{
		float: left;					
		list-style: none;					
		text-align: center;
		border-right: 1px solid #d7d7d7;
		border-top: 1px solid #d7d7d7;
		&:first-child{
			border-left: 1px solid #d7d7d7;
		}
		a{
			display: block;
			padding: 3px 40px;
			color: #959595;
			background: #ebebeb;
			font-weight: 700;
			&:hover{
				text-decoration: none;
			}					
			@media(max-width: $screen-md){
				padding: 3px 20px;
			}

			@media(max-width: $screen-sm){
				padding: 3px 3px;
				font-size: 11px;
			}
		}
		&.active{
			a{
				color: #464646;
				background: #FFF;
			}
		}
		&.active{
			background: #FFF;
			a{
				color: #464646;
			}
		}
	}
}

.btn-book{
	padding: 9px;
	background: #464646;
	color: #FFF;
	font-weight: 700;
	letter-spacing: 1px;
	&:hover{
		color: #c6c6c6;
		background: #464646;
	}
}

.input-group-addon{
	&.calendar{
		background: url('../images/ico-calendar.jpg')no-repeat;
	}
	&.room{
		background: url('../images/ico-room.jpg')no-repeat;
	}
	&.siteplan{
		background: url('../images/ico-siteplan.jpg')no-repeat;
	}
}

.toggle{
	position: relative;
	float: right;
	.text{
		float: left;
		color: #464646;
		margin-right: 20px;
	}
	.icon{
		position: relative;
		display:  inline-block;
		width: 30px;
		height: 18px;	
		-webkit-transform: rotate(0deg); transform: rotate(0deg);
		-webkit-transition: 0.2s ease; transition: 0.2s ease;
		span{
			margin: 0 auto;
			position: relative;
			top: 7px;
			&:before, &:after{
				position: absolute;
				content: '';
			}
			&:before{
				margin-top: -7px;
			}
			&:after{
				margin-top: 7px;
			}
		}
		span, span:before, span:after{
			width: 30px;
			height: 3px;
			background-color: #464646;
			display: block;
		}
		&.active{
			-webkit-transform: rotate(90deg); transform: rotate(90deg);
		}
	}
}

header#main{
	position: relative;	
	.backdropmenu{
		background: rgba(70, 70, 70, 0.9);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 99;
		display: none;
		@include animation(2s);		
		.menu{
			position: absolute;
			top: 50%;			
			width: 100%;
			margin-top: -100px;		
			text-align: center;
			a{
				color: #FFF;
				font-size: 20px;
				text-align: center;
				display: block;
				text-transform: uppercase;
				letter-spacing: 2px;
				margin-bottom: 15px;
				&:hover{
					text-decoration: none;
				}
			}
		}		
	}
	nav.main{		
		top: 0;
		left: 0;
		z-index: 300;
		width: 100%;
		padding: 20px 60px;
		position: relative;
		background: #f5f4f4;
		border-bottom: 1px solid #d7d7d7;	
		@include pie-clearfix;
		@media(max-width: $screen-sm){
			padding: 20px 10px;
			position: fixed !important;
		}
		.logo{
			float: left;
		}
		.toggle{
			float: right;
		}
	}
}

#main-header{
	position: relative;
	width: 100%;
    overflow: hidden;
	.bg{
		width: 100%;
		@media(max-width: $screen-sm){
			width: 200%;
			margin-left: -50%;
			max-width: none;
		}
	}
	.headline{
		position: absolute;
		width: 100%;
		text-align: center;
		top: 50%;
		margin-top: -75px;
		img{
			max-width: 100%;			
		}
		@media(max-width: $screen-sm){
			margin-top: -5px;
			img{
				max-width: 40%;
			}
		}
	}
}

#search-bar{
	padding-top: 15px;
	padding-bottom: 15px;
	background: #f5f4f4;
	margin-bottom: 10px;
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	z-index: 10;
	position: relative;
	@media(max-width: $screen-md){
		position: relative !important;
	}
	.input-group{
		width: 100%;
	}
	.container{
		position: relative;
	}
	.logo{			
	    position: absolute;
	    top: 6px;
	    left: -45px;
	}
	.toggle{
		position: absolute;
		top: 10px;
		right: -45px;
	}
	.logo, .toggle{
		@media(max-width: $screen-md){
			display: none !important;
		}
	}
	.text{
		color: #000;
	}
	.toggle .icon span, .toggle .icon span:before, .toggle .icon span:after{
		background: #000;
	}
	.input-md{
		height: 40px;		
	}
	.input-group-addon{
		width: 40px !important;
	}
	.btn-book{
		width: 100%;		
	}
	.row{
		@media(max-width: $screen-md){
			margin-bottom: 10px;	
		}
	}

	.logo, .toggle{
		display: none;
	}
}

.container.main{
	padding-top: 30px;
	margin-bottom: 20px;
	min-height: 400px;
	@media(max-width: $screen-sm){
		padding-top: 90px;
	}
}

.blocks{
	position: relative;
	&.home{
		text-align: center;		
		line-height: 1.8em;
		margin-bottom: 20px;
	}
	&.rooms{
		margin-bottom: 40px;
		.title{
			display: block;
			letter-spacing: 3px;
			text-align: center;
			border: 1px solid #d7d7d7;
			padding: 4px;
			margin-bottom: 15px;
		}
		.room{
			position: relative;
			.inner-border{
				border: 1px solid #d7d7d7;
				padding-bottom: 5px;
				overflow: hidden;
			}
			&:hover{
				a{
					background: #727272;
				}
			}
			img{
				margin: -1px 1px 1px 0;
				display: block;
				width: 100%;	
				transition: all .3s ease-in-out;		
			}
			&:hover{
				img{
					transform: scale(1.1);
				}
			}
			h4{
				margin-left: 15px;
				margin-right: 15px;
				text-align: center;			
				background: #464646;	
				margin-top: -30px;		
				position: relative;
				a{
					display: block;
					color: #FFF;
					padding: 15px;
					&:hover{						
						text-decoration: none;
					}
				}
			}
		}
	}	

	&.facilities{
		.slick-prev{
			left: -1px;
		}		
		.slick-next{
			right: -1px;
		}
		.navigation{
			border: 1px solid #d7d7d7;
			margin-bottom: 10px;	
			.center-menu{
				border-top: none;
			}		
		}
		.border{
			border: 1px solid #d7d7d7;
		}
		.facility{
			position: relative;
			.image{
				display: block;
				width: 100%;
			}
			.content{
				position: relative;
				.none{
					visibility: hidden;
				}
				.background{
					position: absolute;
					bottom: 0px;
					right: -5px;
					@media(max-width: $screen-md){						
						display: none;
					}
				}
				.inner{
					position: absolute;
					top: 0;				
					left: 0;	
					padding-top: 20px;
					padding-left: 30px;
				}
				.open{
					position: absolute;
					bottom: 15px;
					padding-left: 30px;
				}
			}
		}
	}
}

.room-detail{
	background: #464646;
	padding: 15px 10px;
	color: #FFF;
	@media(min-width: $screen-md){
		margin-top: -30px;
		position: relative;
		display: block;	
	}
	.room-available{
		@media(max-width: $screen-md){
			text-align: center;
		}
		h5{
			margin-top: 25px;
			color: #FFF;
			b{
				font-size: 20px;
				color: #FFF;
			}
		}
	}
	.name-field{
		text-align: center;		
		h3{
			color: #FFF;
			margin-top: 25px;
		}
	}
	.area-field{
		text-align: right;
		@media(max-width: $screen-md){
			text-align: center;
		}
		span{
			text-align: center;
			display: inline-block;
			padding: 18px;
    		border: 1px solid #FFF;
			b{
				color: #FFF;
				display: block;
			}
		}
	}
}

.siteplan{
	margin-bottom: 30px;
	.rates{		
		.head .center{
			border: 1px solid #d7d7d7;
			text-align: center;
			background: #FFF;	
			width: 100%;		
		}
		.rates-field{
			@media(max-width: $screen-sm){
				font-size: 12px;
			}
			.bg{
				padding: 5px;
				display: block;
				background: #f4f4f4;
				width: 100%;
			}			
			span{
				float: left;
				padding-top: 5px;
				&.separator{
					width: 1px;
				    height: 30px;
				    background: #707070;
				    display: inline-block;
				    margin: 0 15px;
				}
			}
		}
	}
	.pdf-field{		
		display: block;
		color: #464646;
		text-decoration: underline;
		font-size: 10px;
	}	
}

.siteplan-studio{	
	.title-field{
		background: #f4f4f4;
		padding: 15px 20px;
		margin-top: 0;
		margin-bottom: 25px;
	}
	.siteplan-description{
		margin-bottom: 20px;
	}
	.siteplan-field img{
		display: block;
		margin-bottom: 10px;
	}	
}

.siteplan-penthouse{
	.siteplan-description{
		margin-bottom: 30px;
	}
	.facilities-field{		
		background: linear-gradient(
		    to bottom,
		    #e1e1e1 50%,
		    #f7f7f7 50%
		);
		background-size: 100% 100%;
		padding: 10px;
		@media(min-width: $screen-md){
			height: 600px;
			padding: 32px 5%;	
		}		
		ul{			
			@include pie-clearfix;
			li{
				float: left;
				margin-right: 30px;
			}
		}
	}
	.photo-field{		
		@media(min-width: $screen-md){
			height: 600px;
			padding-left: 0px;
			overflow: hidden;
			height: 100%;
		}
		@media(max-width: $screen-md){
			height: auto;
			width: 100%;
		}		
	}
	.siteplan-field{		
		img{
			width: 100%;	
			margin-bottom: 10px;		
			display: block;
		}
		@media(max-width: $screen-md){
			width: 90%;
			display: table;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 20px;
		}
	}
}

.siteplan-deluxe{
	.col{
		padding: 15px 22px;
		height: 420px;
		@media(max-width: $screen-md){
			padding: 15px;
			height: auto;
		}
	}
	.facilities-field{		
		ul{						
			li{
				margin-bottom: 10px;
			}
		}
		b{
			color: #FFF;
			display: block;
			margin-bottom: 15px;	
			letter-spacing: 2px;		
		}
		background: #464646;
		color: #FFF;		
	}
	.siteplan-field{
		background: #f7f7f7;
		position: relative;
		.image{
			display: block;
			text-align: center;
			b{
				display: block;
				margin-bottom: 20px;
			}
			img{
				display: inline;
			}
		}
		.slick-dots{
			bottom: auto;
			margin-top: 20px;
		}
		.slick-prev{
			left: 0px;
		}
		.slick-next{
			right: 0px;
		}
	}
	.rates-field{
		text-align: center;
		background: #e8e8e8;
		@media(min-width: $screen-md){
			padding-top: 12%;
		}
		b{
			display: block;
			margin-bottom: 20px;
		}
		.price{
			display: block;
		}
		.divider{
			width: 100px;
			height: 1px;
			display: table;
			margin: 15px auto;
			background: #464646;
		}
	}
}

.siteplan-twobedroom{
	.siteplan-field{
		position: relative;
		z-index: 10;
		img{
			display: block;
			margin-bottom: 20px;
		}
	}
	.facilities-field{
		margin-bottom: 50px;
		position: relative;
		display: inline-block;
		background: #8a8a8a;
		padding: 20px 15px;
		color: #FFF;
		@media(max-width: $screen-md){
			display: table;
			margin-left: auto;
			margin-right: auto;
		}
		.background-left{			
			position: absolute;
			background: #f7f7f7;
			height: 100%;
			width: 575px;
			top: 0;
			left: -575px;
			@media(max-width: $screen-md){
				display: none;
			}
		}		
	}
}

body.booking{
	background: #f1f5f3 url("../images/booking-bg.jpg") no-repeat -85px -32px fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
	.booking-wrapper{
		padding-top: 50px;
		text-align: center;
	}
	.form-wrapper{
		padding: 15px;
		margin-top: 40px;
		margin-bottom: 40px;
		border: 1px solid #FFF;
		.input-group{
			margin-bottom: 10px;
		}
		.input-group-addon{
			background: #FFF;
			min-width: 110px;
			font-size: 12px;
			font-weight: 700;
			text-align: left;
		}
		.btn-book{
			padding: 5px 50px;
		}
	}
}

footer.main{
	color: #FFF;
	background: #464646;
	padding: 40px 0;
	font-size: 11px;	
	a, h5{
		color: #FFF;
	}
	.logo{
		max-width: 110px;		
		@media(max-width: $screen-sm){
			width: 100%;
		}
	}
	.blocks{
		padding-top: 10px;
		line-height: 1.95em;
	}
	.navigation{
		padding-top: 10px;
		padding-left: 0px;
		li{
			list-style: none;
			float: left;
			padding-right: 8px;
			margin-right: 8px;
			border-right: 1px solid #FFF;
			&:last-child{
				border-right: none;
			}
			a{
				text-transform: uppercase;
			}
			@media(max-width: $screen-sm){
				padding-right: 4px;
				margin-right: 4px;
				a{
					font-size: 8px;
				}
			}
		}
	}
}